<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="layouts/header :: myheader"></div>

<style>
    #update-btn.center, #back-btn.center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #edit-image {
        width: 300px;
        height: 300px;

    }
</style>

<!-- ------------------------------------ ABOVE IS STYLING, DOWN IS INFO ------------------------------------ -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container my-5">
    <h2 class="mb-5">Update Camin</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" method="post"
                  th:action="@{/admin/camine/update/{caminId}(caminId=${selectedCaminById.getId()})}"
                  th:object="${selectedCaminById}">
                <div class="row">
                    <!-- TEORIE: for = "id_camp_in_frontend" tre sa fie acelasi cu id="id_camp_in_frontend" -->
                    <div class="col-md-6">
                        <!-- update nume -->
                        <div class="form-group row-md-6">
                            <label class="col-form-label" for="capacitate"><b>Capacitate maxima de studenti:</b></label>
                            <input class="form-control" id="capacitate" placeholder="capacitate"
                                   th:field="*{capacitate}"
                                   type="text">
                            <span class="text-danger" th:errors="*{capacitate}"
                                  th:if="${#fields.hasErrors('capacitate')}"></span>
                        </div>

                        <!-- update nrCamereTotal -->
                        <div class="form-group row-md-6">
                            <label for="nrCamereTotal" class="col-form-label"><b>Nr Camere total:</b></label>
                            <input class="form-control" id="nrCamereTotal" placeholder="nrCamereTotal"
                                   th:field="*{nrCamereTotal}"
                                   type="text">
                            <span class="text-danger" th:errors="*{nrCamereTotal}"
                                  th:if="${#fields.hasErrors('nrCamereTotal')}"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- update nrCamereUnStudent -->
                        <div class="form-group row-md-6">
                            <label class="col-form-label" for="nrCamereUnStudent"><b>Nr Camere pentru un
                                student:</b></label>
                            <input class="form-control" id="nrCamereUnStudent" placeholder="nrCamereUnStudent"
                                   th:field="*{nrCamereUnStudent}" type="text">
                            <span class="text-danger" th:errors="*{nrCamereUnStudent}"
                                  th:if="${#fields.hasErrors('nrCamereUnStudent')}"></span>
                        </div>

                        <!-- update nrCamereDoiStudenti -->
                        <div class="form-group row-md-6">
                            <label class="col-form-label" for="nrCamereDoiStudenti"><b>Nr Camere pentru doi
                                studenti:</b></label>
                            <input class="form-control" id="nrCamereDoiStudenti" placeholder="nrCamereDoiStudenti"
                                   th:field="*{nrCamereDoiStudenti}" type="text">
                            <span class="text-danger" th:errors="*{nrCamereDoiStudenti}"
                                  th:if="${#fields.hasErrors('nrCamereDoiStudenti')}"></span>
                        </div>

                        <!-- update nrCamereTreiStudenti -->
                        <div class="form-group row-md-6">
                            <label class="col-form-label" for="nrCamereTreiStudenti"><b>Nr Camere pentru trei
                                studenti:</b></label>
                            <input class="form-control" id="nrCamereTreiStudenti" placeholder="nrCamereTreiStudenti"
                                   th:field="*{nrCamereTreiStudenti}" type="text">
                            <span class="text-danger"
                                  th:errors="*{nrCamereTreiStudenti}"
                                  th:if="${#fields.hasErrors('nrCamereTreiStudenti')}"></span>
                        </div>

                        <!-- update nrCamerePatruStudenti -->
                        <div class="form-group row-md-6">
                            <label class="col-form-label" for="nrCamerePatruStudenti"><b>Nr Camere pentru patru
                                studenti:</b></label>
                            <input class="form-control" id="nrCamerePatruStudenti" placeholder="nrCamerePatruStudenti"
                                   th:field="*{nrCamerePatruStudenti}" type="text">
                            <span class="text-danger"
                                  th:errors="*{nrCamerePatruStudenti}"
                                  th:if="${#fields.hasErrors('nrCamerePatruStudenti')}"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input id="update-btn" type="submit" class="btn btn-primary center" value="Update Camin">
                    </div>

                    <div class="col-md-6 mt-5">
                        <input class="btn btn-warning center" href="/camine" id="back-btn" type="submit"
                               value="Back to camine">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>