<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="layouts/header :: myheader"></div>

<style>
    #update-btn.center, #back-btn.center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

<!-- ------------------------------------ ABOVE IS STYLING, DOWN IS INFO ------------------------------------ -->

<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Update Student</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk="
            src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
          integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" rel="stylesheet"/>
</head>

<body>
<div class="container my-5">
    <h2 class="mb-5">Selectare optiuni camere de camin</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#"
                  method="POST"
                  th:action="@{/student/mypage/camere-update/{studentId}/{anUniversitar}(studentId=${selectedStudentById.getId()}, anUniversitar = ${selectedStudentById.getAnUniversitar()})}"
                  th:object="${selectedStudentById}">
                <div class="container">
                    <p th:if="${listOfCamerePreferate != null && listOfCamerePreferate.size() > 0}">
                        <select multiple="multiple" placeholder="Alege camerele preferate"
                                th:field="*{camerePreferate}" th:width="300px">
                            <optgroup label="Camin Leu A">
                                <option th:each="camera: ${listOfCamerePreferate}"
                                        th:if="${camera.startsWith('LEU A') == true}"
                                        th:text="${camera}" th:value="${camera}">
                            </optgroup>
                            <optgroup label="Camin Leu C">
                                <option th:each="camera: ${listOfCamerePreferate}"
                                        th:if="${camera.startsWith('LEU C') == true}"
                                        th:text="${camera}" th:value="${camera}">
                            </optgroup>
                            <optgroup label="Camin P20">
                                <option th:each="camera: ${listOfCamerePreferate}"
                                        th:if="${camera.startsWith('P20') == true}"
                                        th:text="${camera}" th:value="${camera}">
                            </optgroup>
                            <optgroup label="Camin P23">
                                <option th:each="camera: ${listOfCamerePreferate}"
                                        th:if="${camera.startsWith('P23') == true}"
                                        th:text="${camera}" th:value="${camera}">
                            </optgroup>
                        </select>
                    </p>
                    <button name="action" type="submit" value="save">Save</button>
                    <button name="action" type="submit" value="add-more">Add another option</button>
                    <button name="action" type="submit" value="cancel">Back to my page</button>
                </div>
            </form>

            <tr th:each="camera,iter : ${selectedStudentById.camerePreferate}">
                <div>
                    <h4 style="display: inline" th:text="'Optiunea numarul ' + ${iter.count} + ': ' + ${camera}"></h4>
                    <a class="btn btn-outline-warning"
                       th:href="@{/student/mypage/camere-update/delete-optiune-camera/{studentId}/{anUniversitar}/{option}(studentId = ${selectedStudentById.getId()},
                    anUniversitar = ${selectedStudentById.getAnUniversitar}, option = ${camera})}"><i
                            class="fas fa-user-times ml-2"></i></a>
                </div>
            </tr>
        </div>
    </div>
</div>
</body>
</html>

<script>
    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });
    });
</script>