<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="layouts/header :: myheader"></div>

<style>
    #tipCont {
        padding-left: 500px;
        font-size: larger;
    }

    #navi ul {
        display: flex;
    }

    #navi ul {
        list-style: none;
        padding: 5px;
    }

    #navi li {
        margin: 0 10px;
    }
</style>

<!-- ------------------------------------ ABOVE IS STYLING, DOWN IS INFO ------------------------------------ -->

<html>
<body>
<header>

    <nav class="fixed-top navbar navbar-dark bg-dark navbar-expand" id="navi">
        <a class="navbar-brand" href="https://curs.upb.ro/">
            <span class="fa fa-university"></span> E-Learning Platform
        </a>

        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- https://stackoverflow.com/questions/67957683/what-css-must-i-apply-to-get-rid-of-this-useless-spacing?noredirect=1#comment120115375_67957683 -->
        <!-- todo rezolva navbaru sa nu se mai puna cuvintele unu peste altu -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav" id="nav_ul">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Acasa<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" href="/menu">Meniu</a>
                </li>

                <li class="nav-item">
                    <a aria-current="page" class="nav-link" href="/admin/students/2021">Lista tuturor studentilor</a>
                </li>

                <li class="nav-item">
                    <a aria-current="page" class="nav-link" href="/admin/camine/2021">Lista caminelor</a>
                </li>

                <div id="tipCont" th:switch="${isDevAcc}">
                    <li class="nav-item" th:case="'true'">
                        <div th:switch="${loggedUsername}">
                            <a aria-current="page" class="nav-link fas fa-code" href="/admin/devAdminPage"
                               id="admin-page"
                               th:case="'iancu'">
                                <span> Dev Account :: ADMIN </span>
                            </a>
                            <a aria-current="page" class="nav-link fas fa-code" href="/admin/devAdminPage"
                               id="assistant-page"
                               th:case="'lixi'">
                                <span> Dev Account :: ASISTENT </span>
                            </a>
                        </div>
                    </li>

                    <li class="nav-item" id="personal-page" th:case="'false'">
                        <a aria-current="page" class="nav-link fas fa-user-secret" href="#"
                           th:text="${loggedUsername}"></a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>

</header>
</body>

</html>