<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="layouts/header :: myheader"></div>

<style>
    #update-btn.center, #back-btn.center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #edit-image {
        width: 300px;
        height: 300px;

    }
</style>

<!-- ------------------------------------ ABOVE IS STYLING, DOWN IS INFO ------------------------------------ -->

<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Update Student</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

<body>
<div class="container my-5">
    <h2 class="mb-5">Update Student</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" method="post"
                  th:action="@{/admin/students/update/{studentId}(studentId=${selectedStudentById.getId()})}"
                  th:object="${selectedStudentById}">
                <div class="row">
                    <!-- TEORIE: for = "id_camp_in_frontend" tre sa fie acelasi cu id="id_camp_in_frontend" -->
                    <!-- Campuri Comune -->
                    <div class="col-md-6">
                        <!-- update nume -->
                        <div class="form-group row-md-6">
                            <label class="col-form-label" for="nume"><b>Nume:</b></label>
                            <input class="form-control" id="nume" placeholder="Nume" th:field="*{nume}" type="text">
                            <span class="text-danger" th:errors="*{nume}" th:if="${#fields.hasErrors('nume')}"></span>
                        </div>

                        <!-- update prenume -->
                        <div class="form-group row-md-6">
                            <label class="col-form-label" for="prenume"><b>Prenume:</b></label>
                            <input class="form-control" id="prenume" placeholder="Prenume" th:field="*{prenume}"
                                   type="text">
                            <span class="text-danger" th:errors="*{prenume}"
                                  th:if="${#fields.hasErrors('prenume')}"></span>
                        </div>

                        <!-- update cnp -->
                        <div class="form-group row-md-6">
                            <label class="col-form-label" for="cnp"><b>CNP</b></label>
                            <input class="form-control" id="cnp" placeholder="cnp" th:field="*{cnp}" type="text">
                            <span class="text-danger" th:errors="*{cnp}" th:if="${#fields.hasErrors('cnp')}"></span>
                        </div>

                        <!-- update zi_de_nastere -->
                        <div class="form-group row-md-6">
                            <label class="col-form-label" for="zi_de_nastere"><b>Zi de nastere:</b></label>
                            <input class="form-control" id="zi_de_nastere" placeholder="zi_de_nastere"
                                   th:field="*{zi_de_nastere}"
                                   type="text">
                            <span class="text-danger" th:errors="*{zi_de_nastere}"
                                  th:if="${#fields.hasErrors('zi_de_nastere')}"></span>
                        </div>
                    </div>

                    <!-- Campuri Necomune -->
                    <div class="col-md-6">
                        <!-- update an -->
                        <div class="form-group row-md-6">
                            <label class="col-form-label" for="an"><b>An de studiu:</b></label>
                            <input class="form-control" id="an" placeholder="an" th:field="*{an}" type="text">
                            <span class="text-danger" th:errors="*{an}" th:if="${#fields.hasErrors('an')}"></span>
                        </div>

                        <!-- update grupa -->
                        <div class="form-group row-md-6">
                            <label class="col-form-label" for="grupa"><b>Grupa:</b></label>
                            <input class="form-control" id="grupa" placeholder="grupa" th:field="*{grupa}" type="text">
                            <span class="text-danger" th:errors="*{grupa}" th:if="${#fields.hasErrors('grupa')}"></span>
                        </div>

                        <!-- update serie -->
                        <div class="form-group row-md-6">
                            <label class="col-form-label" for="serie"><b>Serie:</b></label>
                            <input class="form-control" id="serie" placeholder="serie" th:field="*{serie}" type="text">
                            <span class="text-danger" th:errors="*{serie}" th:if="${#fields.hasErrors('serie')}"></span>
                        </div>

                        <!-- update prenume -->
                        <div class="form-group row-md-6">
                            <label class="col-form-label" for="judet"><b>Judet</b></label>
                            <input class="form-control" id="judet" placeholder="judet" th:field="*{judet}" type="text">
                            <span class="text-danger" th:errors="*{judet}" th:if="${#fields.hasErrors('judet')}"></span>
                        </div>
                    </div>

                    <!-- Edit Clip Art image -->
                    <!--                        todo pune imaginea in dreapta-->
                    <!--                        <div class="col-md-6">-->
                    <!--                            <img src="https://syr.us/5Ge" id="edit-image">-->
                    <!--                        </div>-->
                </div>

                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input class="btn btn-primary center" id="update-btn" type="submit" value="Update Student">
                    </div>

                    <div class="col-md-6 mt-5">
                        <input class="btn btn-warning center" href="/students" id="back-btn" type="submit"
                               value="Back to students list">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>